.back_backgorund {
 background-image: url("bgl.jpg");   
 background-position: center;
 background-size: cover;

}
h1
{
    color: aqua;
    font-size: 40px ;

}

#myCanvas
{
    border-width:10px;
    background-color: red;
    border-style:ridge;

}
span
{
    font-size:20px;
}